extends layout

block content
  .container
    h2 New Post
    div
      form(action='/update/' + article._id, method='post')
        input(type='hidden',value='put',name='_method')
        label(for='author') Author:
        input(id='author',type='text',value='#{article.author}',name='author')
        label(for='title') Title:
        input(id='title',type='text',value='#{article.title}',name='title')
        label(for='content') Content:
        textarea(id='content',rows='10',cols='50',name='content')= article.content
        br
        input(type='submit',value='submit').submit-button