extends layout

block content
  .container
    .hero-unit
      h1 This is a "blog." Sort of.
      h2 It uses nodejs, express, mongodb, twitter-bootstrap, and all the sexy buzzwords.
      br
      h3 All Posts
      br
      each article in articles
        a(href="/show/" + article._id)
          b= article.title
        p.muted= article.content
        small= "by " + article.author
        br
        br

      div
        a.btn.btn-primary.btn-large(href="/new") New Post >>