extends layout

block content
  .container
    h2 New Post
    div
      form(action='/create',method='post')
        label(for='author') Author:
        input(id='author',type='text',value='',name='author')
        label(for='title') Title:
        input(id='title',type='text',value='',name='title')
        label(for='content') Content:
        textarea(id='content',value='',rows='10',cols='50',name='content')
        br
        input(type='submit',value='submit').submit-button