.sidebar {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eeeeee;
}
.mainbar {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eeeeee;
}
img.floatRight {
  float:right;
  margin: 4px;
}